.category-view {
    width: 100vw;
    font-family: 'Open Sans', sans-serif;
    .img-view {
        width: 100%;
        position: relative;
        @media screen and (max-width: 800px) {
            display: none;
        }
        img {
            width: 100%;
            height: auto;
        }
        .data {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 10%;
            h1 {
                font-size: 80px;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.13;
                letter-spacing: normal;
                color: #ffffff;
                text-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
                margin: 0;
            }
            p {
                font-size: 35px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.23;
                letter-spacing: normal;
                color: #ffffff;
                text-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
                max-width: 500px;
                margin-top: 10px;
            }
        }
    }
    .topp {
        height: 60px;
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05);
        padding: 0% 10%;
        @media screen and (max-width: 860px) {
            padding: 0% 3%;
        }
        h3 {
            font-size: 18px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 2.22;
            letter-spacing: normal;
            color: #0231b7;
            text-transform: capitalize;
        }
        .black {
            color: black;
        }
        .left {
            margin-left: auto;
            @media screen and (max-width: 600px) {
                display: none;
            }
            h1 {
                font-size: 24px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.67;
                letter-spacing: normal;
                color: #333333;
            }
            .select-box {
                width: 165px;
                height: 40px;
                border: solid 1px #dedede;
                margin-left: 20px;
                .css-10nd86i{
                    width: 100%;
                    .css-1aya2g8{
                        outline: none;
                        border: none;
                    }
                    .css-d8oujb{
                        display: none;
                    }
                }
            }
        }
    }
    .category-view-body {
        display: flex;
        padding: 2% 10%;
        @media screen and (max-width: 930px) {
            padding: 2% 3%;
        }
        .left {
            width: 25%;
            min-width: 200px;
            @media screen and (max-width: 600px) {
                display: none;
            }
        }
        .right {
            flex: 1;
        }
    }
    .buttons {
        padding: 15px 25px 15px 15px;
        display: flex;
        align-items: flex-end;
        margin-left: auto;
        @media screen and (max-width: 600px) {
            margin-left: 0;
        }
        p {
            font-size: 16px;
            font-weight: bold;
            color: #78909c;
            margin-left: 45px;
            cursor: pointer;
            user-select: none;
            @media screen and (max-width: 702px) {
                font-size: 12px;
            }
            display: none;
            @media screen and (max-width: 510px) {
                display: block;
            }
        }
        div {
            display: none;
            margin-right: auto;
            @media screen and (max-width: 510px) {
                display: block;
            }
            div {
                height: 24px;
                width: 24px;
                margin-right: 10px;
                cursor: pointer;
                svg {
                    width: 18px;
                    height: 18px;
                }
            }
        }
    }
}