.FilterView {
    padding-right: 30px;
    .tp {
        margin-top: 20px;
        p {
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            line-height: 3.33;
            letter-spacing: 1px;
            color: #33333a;
            cursor: pointer;
        }
        .lefttext {
            flex: 1;
        }
        .righttext {
            margin-left: auto;
            color: #ff6008;
            text-align: end;
        }
    }
    .line{
        height: 1px;
        background: #f3f3f3;
        margin:10px 0;
    }
    .menu-list{
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 20px;
    }
}