.cart {
    font-family: 'Open Sans', sans-serif;
    .heading {
        height: 80px;
        background-color: #ffffff;
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05);
        padding: 0 15%;
        @media screen and(max-width: 1000px) {
            padding: 0 5%;
            height: 60px;
        }
        @media screen and(max-width: 600px) {
            height: 38px;
        }
        h1 {
            font-size: 22px;
            font-weight: bold;
            color: #78909c;
            @media screen and(max-width: 600px) {
                font-size: 15px;
            }
        }
    }
    .cart-body {
        padding: 10px 15%;
        padding-bottom: 50px;
        @media screen and(max-width: 1000px) {
            padding: 10px 5%;
        }
        .cart-collection {
            padding-top: 10px;
            max-height: 45vh; //height: 45vh;
            overflow: auto;
            &::-webkit-scrollbar {
                background-color: lighten(#f4f4f4, 20%);
                width: .25em;
                border-radius: 5px;
            }
            &::-webkit-scrollbar-thumb {
                background-color: darken(#f4f4f4, 10%);
                border-radius: 5px;
            }
            .line {
                margin: 20px 0;
                height: 2px;
                background-color: rgba(38, 50, 56, 0.12);
                @media screen and(max-width: 600px) {
                    margin:15px 0;
                }
            }
        }
        .empty-cart {
            font-size: 22px;
            font-weight: bold;
            color: #78909c;
            @media screen and(max-width: 600px) {
                font-size: 15px;
            }
        }
        .cart-end-buttons {
            display: flex;
            margin-top: 30px;
            div {
                height: 48px;
                padding: 0 30px;
                text-transform: uppercase;
                cursor: pointer;
                box-sizing: border-box;
                a {
                    text-decoration: none;
                }
                @media screen and(max-width: 600px) {
                    height: 38px;
                }
            }
            .white-button {
                border-radius: 4px;
                border: solid 1px #979797;
                font-size: 14px;
                line-height: 1.14;
                text-align: center;
                color: #2196f3;
                &:hover {
                    color: darken(#2196f3, 20%);
                }
                @media screen and(max-width: 600px) {
                    display: none;
                }
            }
            .right {
                font-size: 16px;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #2196f3;
                padding-left: 10px;
                display: none;
                @media screen and(max-width: 600px) {
                    font-size: 13px;
                    display: block;
                }
                border: none;
                outline: none;
                background: none;
            }
            .blue-button {
                margin-left: auto;
                border-radius: 4px;
                background-image: linear-gradient(103deg, #4f7dff, #0231b7);
                font-size: 16px;
                font-weight: bold;
                line-height: 1;
                text-align: center;
                color: #ffffff;
                &:hover {
                    color: darken(#ffffff, 20%);
                }
                @media screen and(max-width: 600px) {
                    font-size: 12px;
                    border-radius: 40px;
                }
            }
            .left {
                margin-left: auto;
            }
        }
    }
}