.CustomerReview {
    padding: 2% 10%;
    font-family: 'Nunito Sans', sans-serif;
    @media screen and (max-width: 860px) {
        padding: 2% 3%;
    }
    background-color: #fcfcfc;
    h1 {
        font-size: 42px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.43;
        letter-spacing: normal;
        color: #33333a;
        margin: 0;
        margin-bottom: 30px;
        @media screen and (max-width: 600px) {
            font-size: 20px;
            margin-bottom: 10px;
        }
    }
    .rating {
        display: flex;
        label {
            font-size: 25px;
        }
        p {
            margin-left: 5px;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.25;
            letter-spacing: normal;
            text-align: justify;
            color: #666666;
        }
    }
    h2 {
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.88;
        letter-spacing: normal;
        color: #33333a;
        @media screen and (max-width: 600px) {
            font-size: 10px;
        }
    }
    .name {
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.25;
        letter-spacing: normal;
        text-align: justify;
        color: #666666;
        @media screen and (max-width: 600px) {
            font-size: 10px;
        }
        span {
            font-size: 16px;
            line-height: 1.56;
            color: #33333a;
            @media screen and (max-width: 600px) {
                font-size: 10px;
            }
        }
    }
    .comment {
        margin: 20px 0;
        color: #33333a;
    }
    .show-more {
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.25;
        letter-spacing: normal;
        color: #0231b7;
        cursor: pointer;
    }
}