.product-detail {
    .heading {
        height: 80px;
        background-color: #ffffff;
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05);
    }
    .product-detail-body {
        padding: 2% 10%;
        @media screen and (max-width: 860px) {
            padding: 2% 3%;
        }
        .quick-view{
            border: none;
            box-shadow: none;
        }
    }
}