.revieww {
    background-color: #f8fafb;
    padding: 20px 40px;
    font-family: 'Open Sans', sans-serif;
    .top {
        margin-top: 30px;
        h1 {
            font-size: 16px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.25;
            letter-spacing: normal;
            color: #263238;
            @media screen and(max-width: 600px) {
                font-size: 12px;
            }
        }
        div {
            margin-left: auto;
            cursor: pointer;
            @media screen and(max-width: 600px) {
                display:none !important;
            }
        }
        .edit-blue {
            font-size: 12px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.14;
            letter-spacing: normal;
            text-align: center;
            color: #2196f3;
            cursor: pointer;
            display: none;
            @media screen and(max-width: 600px) {
                display:block !important;
            }
        }
    }
    .data {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.57;
        letter-spacing: normal;
        color: #263238;
        @media screen and(max-width: 600px) {
            font-size: 12px;
        }
    }
    .line {
        height: 1px;
        background-color: rgba(38, 50, 56, 0.12);
        margin: 30px 0;
    }
    .summary {
        .one {
            display: flex;
            align-items: center;
            h1 {
                font-size: 16px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.25;
                letter-spacing: normal;
                color: #263238;
                @media screen and(max-width: 600px) {
                    font-size: 12px;
                }
            }
            p {
                margin-left: auto;
                font-size: 16px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.25;
                letter-spacing: normal;
                text-align: right;
                color: #263238 !important;
                @media screen and(max-width: 600px) {
                    font-size: 12px;
                }
            }
        }
        .black {
            margin-bottom: 20px;
            h1 {
                font-weight: bold;
                color: #263238;
            }
        }
    }
}