.revieww {
    background-color: #f8fafb;
    padding: 20px 40px;
    .top {
        margin-top: 30px;
        h1 {
            font-family: NunitoSans;
            font-size: 16px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.25;
            letter-spacing: normal;
            color: #263238;
        }
        div {
            margin-left: auto;
            cursor: pointer;
        }
    }
    .data {
        font-family: NunitoSans;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.57;
        letter-spacing: normal;
        color: #263238;
    }
    .line {
        height: 1px;
        background-color: rgba(38, 50, 56, 0.12);
        margin: 30px 0;
    }
    .summary {
        .one {
            display: flex;
            align-items: center;
            h1 {
                font-family: NunitoSans;
                font-size: 16px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.25;
                letter-spacing: normal;
                color: #263238;
            }
            p {
                margin-left: auto;
                font-family: NunitoSans;
                font-size: 16px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.25;
                letter-spacing: normal;
                text-align: right;
                color: #263238 !important;
            }
        }
        .black{
            margin-bottom: 20px;
            h1{
                font-weight: bold;
                color: #263238;
            }
            
        }
    }
}