.product-list {
    padding: 2% 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 263px);
    justify-content: space-between;
    grid-column-gap: 20px;
    @media screen and (max-width: 1100px) {
        grid-template-columns: repeat(auto-fill, 230px);
    }
    @media screen and (max-width: 950px) {
        justify-content: space-around;
        grid-template-columns: repeat(auto-fill, 263px);
    }
    @media screen and (max-width: 600px) {
        grid-template-columns: repeat(auto-fill, 200px);
        grid-column-gap: 5px;
    }
    @media screen and (max-width: 450px) {
        grid-template-columns: repeat(auto-fill, 162px);
    }
    @media screen and (max-width: 365px) {
        grid-template-columns: repeat(auto-fill, 140px);
    }
    &>* {
        flex: 0 0 20%;
        margin-bottom: 50px;
        align-self: flex-start;
        @media screen and (max-width: 600px) {
            margin-bottom: 20px;
        }
    }
}

.product-list-view {
    .line {
        height: 1px;
        background-color:rgba(38, 50, 56, 0.16);
        margin:20px 0;
    }
}

.empty-data {
    height: 50vh;
    width: 100%;
    text-transform: capitalize;
    font-size: 20px;
}