.product-card {
    position: relative;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 1px 4px 0 rgba(38, 50, 56, 0.38);
    text-transform: uppercase;
    box-sizing: border-box;
    transition: box-shadow .1s ease-in-out;
    &:before {
        content: '';
        z-index: -10;
        width: 295px;
        height: 485px;
        position: absolute;
        top: -15px;
        left: -15px;
        background-color: #ffffff;
        box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.3);
        transform: scale(0);
        transition: transform .1s ease-in-out;
        @media screen and (max-width: 1425px) {
            width: 275px;
            height: 450px;
        }
        @media screen and (max-width: 1340px) {
            width: 330px;
            height: 470px;
        }
        @media screen and (max-width: 1215px) {
            width: 290px;
            height: 465px;
        }
        @media screen and (max-width: 1050px) {
            width: 260px;
            height: 445px;
        }
        @media screen and (max-width: 955px) {
            width: 330px;
            height: 470px;
        }
        @media screen and (max-width: 665px) {
            width: 270px;
            height: 450px;
        }
        @media screen and (max-width: 600px) {
            display: none;
            transform: none;
        }
    }
    &:hover {
        box-shadow: none;
        @media screen and (max-width: 600px) {
            box-shadow: 0 1px 4px 0 rgba(38, 50, 56, 0.38);
            transform: none;
        }
        .image {
            .hover {
                transform: scale(1);
            }
        }
        &:before {
            transform: scale(1);
        }
    }
    .image {
        width: 100%;
        position: relative;
        background-color: #f3f3f3;
        cursor: pointer;
        img,
        a {
            height: auto;
            max-height: 263px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            @media screen and (max-width: 600px) {
                max-height: 200px;
            }
            @media screen and (max-width: 450px) {
                max-height: 162px;
            }
        }
        .hover {
            width: 180px;
            height: 50px;
            position: absolute;
            top: 108px;
            right: 42px;
            transform: scale(0);
            transition: transform .4s cubic-bezier(.5, 0, .3, 1);
            @media screen and (max-width: 1425px) {
               right: 35px;
               top:100px
            }
            @media screen and (max-width: 1340px) {
                right: 60px;
                top:105px
            }
            @media screen and (max-width: 1215px) {
                right: 40px;
                top:105px
            }
            @media screen and (max-width: 1050px) {
                right: 25px;
                top:100px
            }
            @media screen and (max-width: 955px) {
                right: 60px;
                top:105px
            }
            @media screen and (max-width: 665px) {
                right: 30px;
                top:100px
            }
            @media screen and (max-width: 600px) {
               display: none;
            }
        }
    }
    .data {
        padding:0 19px;
        height: 180px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        font-family: 'Open Sans', sans-serif;
        @media screen and (max-width: 600px) {
            height: 130px;
         }
        @media screen and (max-width: 450px) {
            height: 100px;
         }
         
        .name {
            font-size: 20px;
            font-weight: 600;
            color: #263238;
            line-height: 1.35;
            a{
                text-decoration: none;
            }
            @media screen and (max-width: 600px) {
                font-size: 10px;
            }
        }
        .brand {
            font-size: 18px;
            font-weight: 600;
            color: #78909c;
            line-height: 0.78;
            @media screen and (max-width: 600px) {
                font-size: 10px;
            }
        }
        .lastRow {
            display: flex;
            .price {
                font-size: 18px;
                font-weight: bold;
                color: #263238;
                line-height: 1.11;
                @media screen and (max-width: 600px) {
                    font-size: 10px;
                }
            }
            a {
                margin-left: auto;
            }
            .add-to-cart {
                font-size: 18px;
                font-weight: bold;
                line-height: 0.89;
                color: #2196f3;
                margin-left: auto;
                cursor: pointer;
                user-select: none;
                @media screen and (max-width: 600px) {
                    font-size: 10px;
                }
            }
        }
    }
}