.shop {
    margin: 20px 0;
    cursor: pointer;
    @media screen and (max-width: 600px) {
        display: none;
    }
    .shopHeading {
        width: 100%;
        font-size: 42px;
        line-height: 1.43;
        color: #33333a;
        margin-bottom: 20px;
        font-family: AvenirNext;
        @media screen and (max-width: 600px) {
           font-size: 30px;
        }
    }
    .shopList {
        display: grid;
        justify-content: space-between;
        grid-template-columns: auto auto auto auto;
        @media screen and (max-width: 1410px) {
            grid-template-columns: auto auto auto;
         }
        @media screen and (max-width: 1060px) {
            grid-template-columns: auto auto;
            justify-content: space-around;
         }

    }
}