.menu-wrapper {
    position: relative;
    box-sizing: border-box;
    height: 100%;
    .menu {
        font-family: 'Open Sans', sans-serif;
        box-sizing: border-box;
        position: absolute;
        border-top: 1px solid black;
        top: 0;
        left: 0;
        right: 0;
        z-index: 50;
        background-color: #ffffff;
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px 15vw 50px 15vw;
        box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
        transform: scale(0);
        transition: transform .3s cubic-bezier(0.94, 0.13, 0.13, 0.84);
        @media screen and (max-width: 1570px) {
            padding:20px 2vw 50px 2vw;
        }
        @media screen and (max-width:1160px) {
            .menu-list {
                margin-left: 10px;
                margin-right: 10px;
            }
        }
        @media screen and (max-width:1035px) {
            padding: 20px 1vw 50px 1vw;
            .menu-list {
                margin-left: 5px;
                margin-right: 5px;
            }
        }
        @media screen and (max-width:1000px) {
            padding: 20px 5vw 50px 4vw;
            .menu-list {
                margin-left: 25px;
                margin-right: 25px;
            }
        }
        @media screen and (max-width:800px) {
            padding: 20px 2vw 50px 2vw;
            .menu-list {
                margin-left: 10px;
                margin-right: 10px;
            }
        }
        @media screen and (max-width:600px) {
            display: none !important;
        }
    }
    .menu-small {
        font-family: 'Open Sans', sans-serif;
        position: fixed;
        border-top: 1px solid black;
        top: 0;
        left: 0;
        z-index: 50;
        background-color: #ffffff;
        right: 30%; // height: ~"calc(100vh - 100px)";
        height: 100vh;
        display: none !important;
        @media screen and (max-width: 600px) {
            display: flex !important;
        }
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        padding-left: 10%;
        padding-top:20px;
        box-sizing: border-box;
        box-shadow: 0 0 200px 0 rgba(0, 0, 0, 0.8);
        border: none;
        transform: scale(0);
        transition: transform .3s cubic-bezier(.25, .75, .5, 1.25);
        &::-webkit-scrollbar {
            background-color: white;
            width: .15em;
            border-radius: 5px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: black;
            border-radius: 5px;
        }
        .just-wrap{
            margin-top: 25px;
        }
        .menu-list {
            margin-bottom: 20px;
        }
        .menu-icon {
            position: fixed;
            right: 20px;
            div {
                margin-left: auto;
                svg {
                    width: 24px;
                    height: 20px;
                }
            }
        }
    }
    .reveal {
        transform: scale(1);
    }
    .reveal1 {
        transform: scale(1);
    }
    .logo{
        width: 35%;
        position: absolute;
        img{
            width: 100%;
            height: auto;
        }
    }
}