.option-header {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.33;
    letter-spacing: 1px;
    color: #0231b7;
    display: flex;
    cursor: pointer;
    user-select: none;
    margin-right: 40px;
    @media screen and (max-width: 1300px) {
        margin-right: 20px;
    }
}
