@import "./assets/fonts/fonts.less";
body,
p {
    margin: 0;
    padding: 0; //font-family: Roboto;

}
a{
    text-decoration: none;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-v-center {
    display: flex;
    align-items: center;
}

.popup-screen {
    position: fixed;
    background-color: rgba(0, 0, 0, .5);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    box-sizing: border-box;
    overflow: auto;
    padding: 5% 13%;
    box-sizing: border-box;
    @media screen and (max-width: 860px) {
        padding: 5% 3%;
    }
    &::-webkit-scrollbar {
        background-color: darken(#f4f4f4, 10%);
        width: .25em;
        border-radius: 5px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: lighten(#f4f4f4, 20%);
        border-radius: 5px;
    }
}
body{
    overflow-x: hidden;
}
.App{
    position: relative;
    min-height: 100vh;
    padding-bottom: 350px;
    @media screen and (max-width: 990px) {
        padding-bottom: 450px;
    }
    @media screen and (max-width: 600px) {
        padding-bottom: 50px;
    }
}
html{
    &::-webkit-scrollbar {
        background-color: darken(#f4f4f4, 10%);
        width: .5em;
        border-radius: 5px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: lighten(#f4f4f4, 20%);
        border-radius: 5px;
    }
}